@font-face {
    font-family: "HexTank Font";
    src: url("../../assets/fonts/hextankfont.woff2") format("woff2"),
        url("../../assets/fonts/hextankfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "HexTank Font";
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    background-color: #FFA72D;
}

#main-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#hextankgame {
    position: fixed;
    width: 100%;
    height: 100%;
}

#touch-buttons-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
}

#splash-screen {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#splash-screen-content {
    margin: 6vmin;
    text-align: center;
    font-size: 12vmin;
    color: #FFFFFF;
    word-break: break-word;
}

#buttons-modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.button-container,
.button-container-small {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container {
    filter: drop-shadow(0.5vmin 0 0 #000000) drop-shadow(0 0.5vmin 0 #000000) drop-shadow(-0.5vmin 0 0 #000000) drop-shadow(0 -0.5vmin 0 #000000);
}

.button-container-small {
    filter: drop-shadow(0.25vmin 0 0 #000000) drop-shadow(0 0.25vmin 0 #000000) drop-shadow(-0.25vmin 0 0 #000000) drop-shadow(0 -0.25vmin 0 #000000);
}

.button {
    position: fixed;
    text-align: center;
    font-size: 7vmin;
    background-color: #FFFF00;
    color: #000000;
    padding-left: 2vmin;
    padding-right: 2vmin;
    height: 8vmin;
    line-height: 8vmin;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
}

.button:hover,
.button:active {
    background-color: #B0B000;
}

.button-small {
    font-size: 3.5vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;
    height: 4vmin;
    line-height: 4vmin;
}

#fullscreen-button {
    width: 10vmin;
}

#fullscreen-button-container {
    left: calc(100% - 6.25vmin - 1vmin);
    bottom: calc(100% - 2.25vmin - 1vmin);
}