@font-face {
    font-family: "HexTank Font";
    src: url("../../assets/fonts/hextankfont.woff2") format("woff2"),
        url("../../assets/fonts/hextankfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "HexTank Font";
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    background-color: #FFA72D;
}

body::after {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -1;
    content: url("../../assets/images/fullscreen.png") url("../../assets/images/logo.png") url("../../assets/images/twitter.png") url("../../assets/images/discord.png");
    visibility: hidden;
}

#main-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#hextankgame {
    position: fixed;
    width: 100%;
    height: 100%;
}

#splash-screen {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#loader-holder {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 50%;
}

#loader {
    position: relative;
    width: 24vmin;
    height: 24vmin;
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 24vmin;
    height: 24vmin;
}

.lds-default div {
    position: absolute;
    width: 1.8vmin;
    height: 1.8vmin;
    background: #FFFFFF;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 11.1vmin;
    left: 19.8vmin;
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 6.6vmin;
    left: 18.6vmin;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 3.3vmin;
    left: 15.6vmin;
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 2.1vmin;
    left: 11.1vmin;
}

.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 3.3vmin;
    left: 6.6vmin;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 6.6vmin;
    left: 3.3vmin;
}

.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 11.1vmin;
    left: 2.1vmin;
}

.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 15.6vmin;
    left: 3.3vmin;
}

.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 18.6vmin;
    left: 6.6vmin;
}

.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 19.8vmin;
    left: 11.1vmin;
}

.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 18.6vmin;
    left: 15.6vmin;
}

.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 15.6vmin;
    left: 18.6vmin;
}

@keyframes lds-default {

    0%,
    20%,
    80%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

#splash-screen-content-holder {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 50%;
}

#splash-screen-content {
    margin: 6vmin;
    text-align: center;
    font-size: 12vmin;
    color: #FFFFFF;
    word-break: break-word;
}

#home-ui {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.button-container,
.button-container-small {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container,
.button {
    position: fixed;
    text-align: center;
    font-size: 7vmin;
    width: 25vmin;
    height: 8vmin;
    line-height: 8vmin;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
    color: #000000;
    background-color: #FFFF00;
}

.button-container-small,
.button-small {
    position: fixed;
    text-align: center;
    font-size: 5.25vmin;
    width: 18.75vmin;
    height: 6vmin;
    line-height: 6vmin;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
    color: #000000;
    background-color: #FFFF00;
}

.button-container {
    background-color: #000000;
}

.button-container-small {
    background-color: #000000;
}

.button {
    transform: scale(95%);
}

.button-small {
    transform: scale(95%);
}

.button:hover {
    background-color: #B0B000;
}

.button-small:hover {
    background-color: #B0B000;
}

#fullscreen-button {
    width: 5vmin;
    height: 5vmin;
    background-image: url("../../assets/images/fullscreen.png");
    background-size: 4vmin 4vmin;
    background-repeat: no-repeat;
    background-position: center center;
}

#fullscreen-button-container {
    width: 5vmin;
    height: 5vmin;
    left: calc(100% - 5vmin - 5vmin);
    bottom: calc(100% - 5vmin - 5vmin);
}

#logo {
    position: fixed;
    width: 95vmin;
    height: 34vmin;
    left: calc(50% - 47.5vmin);
    bottom: calc(72% - 17vmin);
    background-image: url("../../assets/images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#beta-button-container {
    position: absolute;
    font-size: 3.5vmin;
    width: 12.5vmin;
    height: 4vmin;
    line-height: 4vmin;
    left: calc(100% - 12.5vmin - 1.5vmin);
    top: calc(50% - 2vmin + 6.5vmin);
    background-color: #FFFFFF;
}

#beta-button {
    font-size: 3.5vmin;
    width: 12.5vmin;
    height: 4vmin;
    line-height: 4vmin;
    color: #FFFFFF;
    background-color: #0AC70A;
}

#form-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60vmin;
    height: 12vmin;
    left: calc(50% - 30vmin);
    bottom: calc(42%);
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
    background-color: #767676;
}

#input-field {
    position: fixed;
    text-align: center;
    font-size: 10vmin;
    width: 60vmin;
    height: 12vmin;
    line-height: 12vmin;
    outline: none;
    appearance: none;
    border: solid 0vmin;
    border-radius: 0vmin;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
    transform: scale(95%);
    margin: 0vmin;
    padding: 0vmin;
    color: #000000;
    caret-color: #000000;
    background-color: #FFFFFF;
}

#input-field::selection {
    background-color: #FFFF00;
}

#input-field:focus::placeholder {
    color: #FFFFFF;
}

#start-button-container {
    bottom: calc(42% - 8vmin - 1vmin);
}

#twitter-button {
    width: 12vmin;
    height: 6vmin;
    background-image: url("../../assets/images/twitter.png");
    background-size: 6.75vmin 5.55vmin;
    background-repeat: no-repeat;
    background-position: center center;
}

#twitter-button-container {
    width: 12vmin;
    height: 6vmin;
    right: calc(50% + 18.75vmin + 7.5vmin);
    top: calc(100% - 6vmin - 10vmin);
}

#help-button-container {
    right: calc(50% + 2.5vmin);
    top: calc(100% - 6vmin - 10vmin);
}

#about-button-container {
    left: calc(50% + 2.5vmin);
    top: calc(100% - 6vmin - 10vmin);
}

#discord-button {
    width: 12vmin;
    height: 6vmin;
    background-image: url("../../assets/images/discord.png");
    background-size: 7.5vmin 5.67vmin;
    background-repeat: no-repeat;
    background-position: center center;
}

#discord-button-container {
    width: 12vmin;
    height: 6vmin;
    left: calc(50% + 18.75vmin + 7.5vmin);
    top: calc(100% - 6vmin - 10vmin);
}

.modal-shadow {
    position: fixed;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    z-index: 999;
    filter: drop-shadow(0 0 3vmin #000000);
}

.modal-container,
.modal-content {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    clip-path: polygon(5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 5%);
    background-color: #FFFF00;
}

.modal-container {
    background-color: #000000;
}

.modal-content {
    transform: scale(99%);
}

.modal-shadow:target {
    visibility: visible;
}

a {
    cursor: default;
}

.button-container-close,
.button-close {
    position: absolute;
    text-align: center;
    font-size: 4vmin;
    width: 5vmin;
    height: 5vmin;
    line-height: 5vmin;
    text-decoration: none;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
    color: #000000;
    background-color: #FF0000;
}

.button-container-close {
    left: calc(100% - 5vmin);
    bottom: calc(100% - 5vmin);
    background-color: #000000;
}

.button-close {
    transform: scale(95%);
}

.button-close:hover {
    background-color: #BB0000;
}

#version {
    position: fixed;
    text-align: center;
    font-size: 2.5vmin;
    color: #000000;
    width: 100vmin;
    height: 2.5vmin;
    line-height: 2.5vmin;
    top: calc(100% - 10vmin + 4vmin);
    opacity: 25%;
}

#in-game-ui {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#touch-buttons-container {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
}

#leaderboard-container {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vmin;
    height: 40vmin;
    left: calc(100% - 50vmin - 0.5vmin);
    bottom: calc(100% - 40vmin - 0.5vmin);
}

.leaderboard-row {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    width: 49.5vmin;
    height: 3.2vmin;
    margin: 0.25vmin;
    clip-path: polygon(4% 0, 100% 0, 100% 50%, 96% 100%, 0 100%, 0% 50%);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%);
}

#leaderboard-title {
    display: flex;
}

#leaderboard-gold {
    background: linear-gradient(135deg, #BF9A47 0%, #FFE233 25%, #FEFDE1 50%, #FFE233 75%, #BF9A47 100%);
}

#leaderboard-silver {
    background: linear-gradient(135deg, #787878 0%, #B5B5B5 25%, #FFFFFF 50%, #E3E3E3 75%, #787878 100%);
}

#leaderboard-bronze {
    background: linear-gradient(135deg, #844414 0%, #CF7D52 25%, #FCD5BE 50%, #CF7D52 75%, #844414 100%);
}

.leaderboard-number,
.leaderboard-name,
.leaderboard-damage,
.leaderboard-kills {
    font-size: 2.8vmin;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFFFFF;
    height: 3.2vmin;
    line-height: 3.2vmin;
    text-shadow: 0.14vmin 0.14vmin 0vmin #000000, -0.14vmin -0.14vmin 0vmin #000000, -0.14vmin 0.14vmin 0vmin #000000, 0.14vmin -0.14vmin 0vmin #000000;
}

.leaderboard-number {
    width: 15%;
}

.leaderboard-name {
    width: 28%;
}

.leaderboard-damage {
    width: 28%;
}

.leaderboard-kills {
    width: 28%;
}

#hud-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vmin;
    height: 25vmin;
    right: calc(100% - 40vmin - 0.5vmin);
    bottom: calc(100% - 25vmin - 0.5vmin);
    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
}

#hud-number-container,
#hud-name-container,
#hud-damage-container,
#hud-kills-container,
#hud-health-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vmin;
}

#hud-number-title,
#hud-number,
#hud-name-title,
#hud-name,
#hud-damage-title,
#hud-damage,
#hud-kills-title,
#hud-kills,
#hud-health-title,
#hud-health {
    font-size: 3.6vmin;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFFFFF;
    height: 4.5vmin;
    line-height: 4.5vmin;
    margin: 0.25vmin;
    text-shadow: 0.14vmin 0.14vmin 0vmin #000000, -0.14vmin -0.14vmin 0vmin #000000, -0.14vmin 0.14vmin 0vmin #000000, 0.14vmin -0.14vmin 0vmin #000000;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%);
}

#hud-number-title {
    font-size: 2.8vmin;
    width: 13vmin;
}

#hud-number {
    width: 27vmin;
}

#hud-name-title {
    font-size: 2.8vmin;
    width: 13vmin;
}

#hud-name {
    width: 27vmin;
}

#hud-damage-title {
    font-size: 2.8vmin;
    width: 13vmin;
}

#hud-damage {
    width: 27vmin;
    background: linear-gradient(135deg, rgba(255, 255, 0, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 0, 0.75) 100%);
}

#hud-kills-title {
    font-size: 2.8vmin;
    width: 13vmin;
}

#hud-kills {
    width: 27vmin;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 0, 0, 0.75) 100%);
}

#hud-health-title {
    font-size: 2.8vmin;
    width: 13vmin;
}

#hud-health {
    width: 27vmin;
    background: linear-gradient(135deg, rgba(10, 199, 10, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(10, 199, 10, 0.75) 100%);
}