@font-face {
    font-family: "HexTank Font";
    src: url("../../assets/fonts/hextankfont.woff2") format("woff2"),
        url("../../assets/fonts/hextankfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "HexTank Font";
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    background-color: #FFA72D;
}

#main-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#hextankgame {
    position: fixed;
    width: 100%;
    height: 100%;
}

#buttons-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

#splash-screen {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#splash-screen-content {
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
    word-break: break-word;
}

#start {
    position: fixed;
    display: none;
    text-align: center;
    font-size: 30px;
    background-color: #FFFF00;
    color: #000000;
    border-radius: 30px;
    width: 200px;
    height: 100px;
    line-height: 100px;
}